
*~
\#*#
*$py.class
.ansible/*
*.asc
aws-private.pem
*.box
build/*.deb
.bundle
*.ca
.cache
*.checksum
.chroot
*,cover
.coverage
.coverage.*
coverage.xml
*.crt
*.csr
*.deb
develop-eggs/
dist/
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
htmlcov/
.hypothesis/
#IDE
.idea
#images
*.img
.installed.cfg
*.key
lib/
lib64/
*.log
*.mo
.molecule
.molecule/*
.mypy_cache/
nosetests.xml
parts/
*.pem
pip-delete-this-directory.txt
pip-log.txt
__pycache__/
*.py[cod]
.Python
.python-version
*.retry
sdist/
*.so
*.swo
*.swp
*.tar.gz
*.tgz
.tox/
.vagrant/*
var/
.venv/
venv/
.vscode
wheels/
